<!DOCTYPE html>
<html ng-app="twitterStream" ng-controller="twitterController">
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet"/>

</head>
<body style="background-color:#F5F8FA;">
<div class="container">
<div class="col-lg-12" style="height:10px;"></div>
<div class="">
<div class="form-group">
    <input type="text" ng-model="search" ng-change="change()" onclick="select()" class="form-control" placeholder="Enter Your Query"/>
</div>
<ul ng-repeat="x in result" style="padding: 0px">
    <div class="well" style="background-color:white;border-radius:0px;margin-bottom:0px;">
        <p><b>{{x.user.name}}</b> &nbsp; @{{x.user.screen_name}}</p>
        <p>{{x.text}}</p>
        <div ng-repeat="y in x.entities.media" style="margin-left:25%;margin-right:25%;">
            <img class="img-responsive" src="{{y.media_url}}" alt="">
        </div>
        <p><span>Reply</span> <span>Retweet {{x.retweet_count}}</span> <span>Favorite {{x.favorite_count}}</span></p>
        
    </div>
</ul>
<script src="app.js"></script>
<script src="twitterController.js"></script>
</div>
</div>
    </body>
</html>